.title-section{
    text-decoration: underline;
    color:blue
}

.first-container{
    background-color: blue;
    width: 80%;
    color: white;
    padding-block: 15px;
    padding-left: 15px;
    margin-block: 15px;
}

.second-container{
    background-color: blue;
    width: 60%;
    color: white;
    padding-block: 15px;
    padding-left: 15px;
    margin-block: 10px;
}

.third-container{
    background-color: blue;
    width: 40%;
    color: white;
    padding-block: 15px;
    padding-left: 15px;
    margin-block: 15px;
}

.fourth-container{
    background-color: blue;
    width: 20%;
    color: white;
    padding-block: 15px;
    padding-left: 15px;
    margin-block: 15px;
}

.fifth-container{
    background-color: blue;
    width: 15%;
    color: white;
    padding-block: 15px;
    padding-left: 15px;
    margin-block: 15px;
}

.tabelaf1{
    text-align: left;
    width: 80%;
}

.tableheader{
    color:gray;
    font-size: 10px;
}

.graytableline{
    background-color: lightgrey;
}
